<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997731884456-q0mu81qiokujgb3jsvr5q2j0o3mg3iqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997731884456-q0mu81qiokujgb3jsvr5q2j0o3mg3iqh</string>
	<key>API_KEY</key>
	<string>AIzaSyCs_FMpWxCgm8sMvF4u4ObP7UxXgZi-3Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>997731884456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-116c0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-116c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997731884456:ios:f0675ea156f7bb4161d19d</string>
</dict>
</plist>